html,body{
  width: 100%;
  height: 100%;
  background-image: url(pic/bgp10.jpg);
  background-size: cover;         /* 让图片覆盖整个容器 */
  background-repeat: no-repeat;   /* 防止图片重复 */
  background-position: center;    /* 居中显示图片 */
}

.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1{
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  
  &:hover{
    flex: 7;
  }
}

.item-1 { 
  background-image: url(pic/报1.jpg)
}
.item-2 { 
  background-image: url(pic/报2.jpg)
}
.item-3 { 
  background-image: url(pic/报3.jpg)
}
.item-4 { 
  background-image: url(pic/报4.jpg)
}
.item-5 { 
  background-image: url(pic/报5.jpg)
}
.item-6 { 
  background-image: url(pic/报6.jpg)
}